@import '~src/assets/css/variables';

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    background: linear-gradient(90deg, $blue, $purple, $red, $green);
    opacity: 1;
    user-select: none;

    @media (prefers-color-scheme: dark) {
        background: linear-gradient(90deg, darken($blue, 50), darken($purple, 50), darken($red, 50), darken($green, 50));
    }

    &.fixed {
        position: fixed;
        top: 0px;
        left: 0px;
        background: linear-gradient(90deg, rgba(darken($blue, 10), 0.8), rgba(darken($purple, 10), 0.8), rgba(darken($red, 10), 0.8), rgba(darken($green, 10), 0.8));
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        z-index: 99;
    }

    .profile {
        width: 120px;
        height: 120px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
    }

    .title {
        box-sizing: border-box;
        margin: 0px 0px 8px 15px;
        font-size: 70px;
        font-weight: 800;
        line-height: 80px;
        text-transform: lowercase;
        color: $white;
    }

    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0px;
        padding: 0px;
        list-style: none;

        li {
            display: flex;
        }

        .menu-item {
            position: relative;
            margin: 0px 15px;
            padding: 5px 0px 0px;
            border-bottom: 4px solid transparent;
            font-size: 16px;
            color: $white;
            transition: all 0.2s;
            transition-delay: 0.2s;

            &::after {
                content: "";
                position: absolute;
                bottom: 0px;
                left: calc(50% - 2px);
                width: 4px;
                height: 4px;
                border-radius: 4px;
                background-color: transparent;
                transition: all 0.2s;
                transition-delay: 0s;
            }

            &:hover,
            &:focus {
                padding: 5px 0px 9px;
                transition-delay: 0s;

                &::after {
                    left: calc(50% - 8px);
                    width: 16px;
                    background-color: rgba($white, 0.8);
                    transition-delay: 0.2s;
                }
            }

            &.active {
                padding: 5px 0px 9px;
                transition-delay: 0s;

                &::after {
                    left: 0px;
                    width: 100%;
                    background-color: $white;
                    transition-delay: 0.2s;
                }
            }

            &.memoire {
                display: none;

                &.active {
                    display: flex;

                    &::after {
                        background-color: $green;
                    }
                }
            }
        }
    }

    &:hover,
    &:focus,
    &:focus-within {
        .menu .menu-item {
            transition-delay: 0.2s;

            &::after {
                transition-delay: 0s;
            }

            &:hover,
            &:focus {
                transition-delay: 0s;

                &::after {
                    transition-delay: 0.2s;
                }
            }

            &.active {
                transition-delay: 0.2s;

                &::after {
                    transition-delay: 0s;
                }
            }
        }
    }

    @media (max-width: 991px) {
        .menu .menu-item {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            i {
                margin: 0px 0px 5px;
            }
        }
    }

    @media (min-width: 576px) and (max-width: 767px) {
        .profile {
            display: none;
        }
    }

    @media (max-width: 575px) {
        position: relative;
        width: calc(100% - 30px);
        margin: 15px 15px 30px;
        border-radius: 10px;
        background-image: url('/assets/img/pastel.webp');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;

        .title {
            display: block;
            width: calc(100% - 30px);
            font-size: 40px;
            text-align: center;
            white-space: nowrap;
        }

        .menu {
            display: none;
        }

        .container>.row {
            margin-bottom: 50px;
        }

        .col.no-grow {
            position: initial;
        }

        .profile {
            display: block;
            position: absolute;
            left: calc(50% - 60px);
            bottom: -40px;
        }
    }
}

.mobile-footer {
    display: none;
    position: fixed;
    bottom: 0px;
    left: 8px;
    justify-content: center;
    align-items: center;
    width: calc(100% - 16px);
    height: 80px;
    border-radius: 10px 10px 0px 0px;
    background-color: $grey-transparent;
    opacity: 1;
    overflow: hidden;
    user-select: none;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    z-index: 99;

    .mobile-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        list-style: none;

        li {
            display: flex;
            width: calc(100% / 4);
            height: 100%;
        }

        .menu-item {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            margin: 0px;
            padding: 5px;
            font-size: 14px;
            text-align: center;
            color: $grey;
            transition: all 0.2s;

            i {
                margin: 0px 0px 6px;
                font-size: 30px;
            }

            &.active {
                background-color: $black;
                color: $white;
            }
        }
    }

    @media (max-width: 575px) {
        display: flex;
    }

    @media (prefers-color-scheme: dark) {
        background-color: $dark-transparent;
    }
}