<header class="header">
    <div class="container">
        <div class="row ai-center">
            <div class="col no-grow">
                <img class="profile" src="/assets/img/olivier-roessel.webp" srcset="/assets/img/olivier-roessel@2x.webp" alt="Photo de profil de Olivier Roessel" width="120" height="120" draggable="false">
            </div>
            <div class="col group-col">
                <h1 class="title">Olivier Roessel</h1>
                <ul class="menu">
                    <li><a class="menu-item icon-line" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink=""><i class="icon-user"></i>Découvrir</a></li>
                    <li><a class="menu-item icon-line projects" routerLinkActive="active" routerLink="projects"><i class="icon-star"></i>Mes projets</a></li>
                    <li><a class="menu-item icon-line contact" routerLinkActive="active" routerLink="contact"><i class="icon-message-square"></i>Contacte-moi</a></li>
                    <li><a class="menu-item icon-line cv" routerLinkActive="active" routerLink="cv"><i class="icon-file"></i>Voir mon CV</a></li>
                    <li><a class="menu-item icon-line memoire" routerLinkActive="active" routerLink="memoire-sources"><i class="icon-folder"></i>Mémoire</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="mobile-footer">
    <ul class="mobile-menu">
        <li><a class="menu-item icon-line" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink=""><i class="icon-user"></i>Découvrir</a></li>
        <li><a class="menu-item icon-line projects" routerLinkActive="active" routerLink="projects"><i class="icon-star"></i>Projets</a></li>
        <li><a class="menu-item icon-line contact" routerLinkActive="active" routerLink="contact"><i class="icon-message-square"></i>Contact</a></li>
        <li><a class="menu-item icon-line cv" routerLinkActive="active" routerLink="cv"><i class="icon-file"></i>CV</a></li>
    </ul>
</div>