@import './src/assets/css/variables';

.footer {
    margin-top: 40px;
    user-select: none;

    .sub-footer {
        margin-top: 40px;
        padding: 20px;
        background-color: $grey-light;

        p {
            margin: 0px;
            text-align: center;
        }

        @media (prefers-color-scheme: dark) {
            background-color: $black;
        }

        @media (max-width: 575px) {
            margin: 10px 15px 0px;
            border-radius: 10px;
            background-color: transparent;
        }
    }
}

.footer-banner {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;

    @media (max-width: 575px) {
        display: none;
    }

    &-mobile {
        display: none;
        width: 100%;
        height: auto;
        border-radius: 10px;

        @media (max-width: 575px) {
            display: block;
        }
    }
}