a {
    color: #6B9F25;
    text-decoration: underline;

    &:hover,
    &:focus {
        color: #107C10;
        text-decoration: none;
    }
}

.list {
    display: block;
    margin: 30px 0px 60px 30px;
}