<div class="container">
    <h2>Comment me contacter&nbsp;?</h2>
    <p class="description">Pour m'envoyer un message, le plus simple est de privilégier les réseaux sociaux. Tu peux aussi m'écrire sur Messenger et WhatsApp, je répondrai au plus vite. Sinon, tu peux toujours m'envoyer un e-mail 💌</p>
    <p class="description">Dans tous les cas, sache que je lis tous mes messages et que je ne passerai pas à côté du tien, promis&nbsp;! 😉</p>
    <ul class="row row-buttons">
        <li class="col">
            <a class="btn" routerLink="" draggable="false"><i class="icon-user"></i>Réseaux sociaux</a>
        </li>
        <li class="col">
            <a class="btn" href="https://m.me/olivier.roessel" target="_blank" draggable="false"><i class="icon-message-circle"></i>Messenger</a>
        </li>
        <li class="col">
            <a class="btn" href="https://wa.me/33786072924" target="_blank" draggable="false"><i class="icon-message-circle"></i>WhatsApp</a>
        </li>
        <li class="col">
            <a class="btn" href="mailto:olivier.roessel@outlook.com" draggable="false"><i class="icon-mail"></i>E-mail</a>
        </li>
    </ul>
</div>
<app-footer></app-footer>