<div class="container">
    <h2>Comment me contacter ?</h2>
    <p class="description">Pour m'envoyer un message, c'est mieux de privilégier les réseaux sociaux. Tu peux également m'écrire sur Messenger, je répond assez rapidement. Ou sinon, tu peux toujours m'envoyer un e-mail 💌</p>
    <p class="description">Dans tous les cas, sache que je lis tous mes messages et que je ne passerai pas à côté du tien, promis ! 😉</p>
    <ul class="row row-buttons">
        <li class="col">
            <a class="btn blue" routerLink="" draggable="false"><i class="icon-user"></i>Mes réseaux sociaux</a>
        </li>
        <li class="col">
            <a class="btn messenger" href="https://m.me/olivier.roessel" target="_blank" draggable="false"><i class="icon-message-circle"></i>M'écrire sur Messenger</a>
        </li>
        <li class="col">
            <a class="btn red" href="mailto:olivier.roessel@outlook.com" draggable="false"><i class="icon-mail"></i>Envoyer un e-mail</a>
        </li>
    </ul>
</div>
<app-footer></app-footer>