/* Colors */

$blue: #2654A2;
$green: #10AC84;
$red: #EE5253;
$purple: #A877C9;
$black: #1D1D1B;
$black-transparent: rgba(#1D1D1B, 0.3);
$grey: #707070;
$grey-semi-light: #c4c4c4;
$grey-light: #F6F6F6;
$grey-dark: #383838;
$grey-transparent: rgba(#F2F2F2, 0.8);
$grey-dark-transparent: rgba(#383838, 0.8);
$white: #FFFFFF;
$white-transparent: rgba(#919191, 0.3);