/* Colors */

//$blue: #2654A2;
$blue: #55DFFF;
//$green: #10AC84;
$green: #40FF9B;
//$red: #EE5253;
$red: #FFBC8F;
//$purple: #A877C9;
$purple: #E29CFF;
$black: #1D1D1B;
$black-transparent: rgba(#1D1D1B, 0.3);
$black-semi-transparent: rgba(#1D1D1B, 0.6);
$dark-transparent: rgba(#1D1D1B, 0.8);
$deep-black: #000000;
$grey: #707070;
$grey-semi-light: #c4c4c4;
$grey-light: #ededed;
$grey-dark: #383838;
$grey-transparent: rgba(#F2F2F2, 0.8);
$white: #FFFFFF;
$white-transparent: rgba(#919191, 0.3);