@import '~src/assets/css/variables';

.iframe-container {
    iframe {
        display: block;
        width: 100%;
        margin: 0px;
        height: calc(100vh - 180px);
        border: none;

        @media (max-width: 575px) {
            width: 100%;
            height: calc(100vh - 500px);
            border-radius: 10px;
            background-color: $grey-light;
            overflow: hidden;
        }

        @media (min-width: 576px) {
            @media (prefers-color-scheme: dark) {
                background-color: $black;
            }
        }
    }

    @media (max-width: 575px) {
        display: block;
        width: 100%;
        padding: 50px 15px 0px;
        box-sizing: border-box;
        overflow: hidden;
    }
}