<div class="container">
    <h2>Qui suis-je&nbsp;?</h2>
    <p class="description">Pour faire court, moi c'est Olivier Roessel. Je suis développeur web front-end chez <a href="https://www.adipso.com/" target="_blank">Adipso</a> avec un Master 2 (bac+5) Digital 360 à Supdeweb Strasbourg en poche. 👨‍💻</p>
    <h2>Mes réseaux sociaux</h2>
    <div class="row row-social" #rowSocial>
        <div class="col">
            <div class="card instagram">
                <img class="social-icon" src="/assets/img/social/instagram.svg" alt="Logo de Instagram" width="60" height="60" draggable="false">
                <div class="text-group">
                    <h3>Instagram</h3>
                    <p>Voir les coulisses de mes projets et du contenu exclusif</p>
                    <a class="btn rounded white w-100 icon-line" href="https://www.instagram.com/olivier.roessel" target="_blank" rel="noopener noreferrer" draggable="false"><i class="icon-heart"></i>Me suivre</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card linkedin">
                <img class="social-icon" src="/assets/img/social/linkedin.svg" alt="Logo de LinkedIn" width="60" height="60" draggable="false">
                <div class="text-group">
                    <h3>LinkedIn</h3>
                    <p>Mon réseau social professionnel</p>
                    <a class="btn rounded white w-100 icon-line" href="https://www.linkedin.com/in/OlivierRoessel" target="_blank" rel="noopener noreferrer" draggable="false"><i class="icon-link"></i>Nous connecter</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card twitch">
                <img class="social-icon" src="/assets/img/social/twitch.svg" alt="Logo de Twitch" width="51" height="60" draggable="false">
                <div class="text-group">
                    <h3>Twitch</h3>
                    <p>Pour regarder mes émissions et vidéos en direct</p>
                    <a class="btn rounded white w-100 icon-line" href="https://www.twitch.tv/OlivierRoessel" target="_blank" rel="noopener noreferrer" draggable="false"><i class="icon-star"></i>S'abonner</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card youtube">
                <img class="social-icon" src="/assets/img/social/youtube.svg" alt="Logo de YouTube" width="85" height="60" draggable="false">
                <div class="text-group">
                    <h3>YouTube</h3>
                    <p>Des rediffusions de mes émissions et d'autres vidéos</p>
                    <a class="btn rounded white w-100 icon-line" href="https://www.youtube.com/@OlivierRoessel" target="_blank" rel="noopener noreferrer" draggable="false"><i class="icon-video"></i>S'abonner</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card x">
                <img class="social-icon" src="/assets/img/social/x.svg" alt="Logo de X" width="74" height="60" draggable="false">
                <div class="text-group">
                    <h3>X</h3>
                    <p>Un moyen de rester au courant de mes actualités</p>
                    <a class="btn rounded white w-100 icon-line" href="https://x.com/OlivierRoessel" target="_blank" rel="noopener noreferrer" draggable="false"><i class="icon-at-sign"></i>Me suivre</a>
                </div>
            </div>
        </div>
        <!--<div class="col">
            <div class="card threads">
                <img class="social-icon" src="/assets/img/social/threads.svg" alt="Logo de Threads" width="74" height="60" draggable="false">
                <div class="text-group">
                    <h3>Threads</h3>
                    <p>Un autre moyen de rester au courant de mes actualités</p>
                    <a class="btn rounded white w-100 icon-line" href="https://www.threads.net/@olivier.roessel" target="_blank" rel="noopener noreferrer" draggable="false"><i class="icon-at-sign"></i>Me suivre</a>
                </div>
            </div>
        </div>-->
        <div class="col">
            <div class="card facebook">
                <img class="social-icon" src="/assets/img/social/facebook.svg" alt="Logo de Facebook" width="60" height="60" draggable="false">
                <div class="text-group">
                    <h3>Facebook</h3>
                    <p>Mon réseau social privé</p>
                    <a class="btn rounded white w-100 icon-line" href="https://www.facebook.com/olivier.roessel" target="_blank" rel="noopener noreferrer" draggable="false"><i class="icon-user-plus"></i>M'ajouter en ami</a>
                </div>
            </div>
        </div>
        <img class="slider-arrow" src="/assets/img/slider-arrow.svg" alt="Flèche de navigation" width="60" height="60" draggable="false">
    </div>
    <h2 class="icon-line"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 794.4 309.01">
                <path d="M66.21,52.76V271.43h33.5v25.9H25.26V52.76Z" transform="translate(-25.26 -50.66)" />
                <path d="M146.71,52.76V297.33H105.76V52.76Z" transform="translate(-25.26 -50.66)" />
                <path d="M224.69,52.76h35.15l-24.4,244.57H182.91l-26-244.57h39.29l13.65,150.1H211Z" transform="translate(-25.26 -50.66)" />
                <path d="M311.55,268.28h34.37v29.05H270.6V52.76h75.28v29H311.55v77h34.37v25.89H311.55Z" transform="translate(-25.26 -50.66)" />
                <path d="M437.37,171.72a17.44,17.44,0,0,1,10.23,6.82q4.09,5.43,4.1,16.62V297.32H410.75V197.61a34.34,34.34,0,0,0-1-9.8,4.19,4.19,0,0,0-4.34-3.15h-7V297.33H357.4V52.76h51.28a61.11,61.11,0,0,1,16,2.1,39,39,0,0,1,13.72,6.65A34.2,34.2,0,0,1,448,73.23a36.77,36.77,0,0,1,3.69,17v57.73q0,11.19-4.1,16.62A19.24,19.24,0,0,1,437.37,171.72Zm-26.62-25.89V95.44q0-13.64-5.37-13.64h-7v77h7.44a3.89,3.89,0,0,0,4.14-3.15A42.11,42.11,0,0,0,410.75,145.83Z" transform="translate(-25.26 -50.66)" />
                <path d="M510.31,299.42a59.9,59.9,0,0,1-15.93-2.09,40,40,0,0,1-13.65-6.65A34.18,34.18,0,0,1,471,279a36.28,36.28,0,0,1-3.73-17V88.1a36.28,36.28,0,0,1,3.73-17,34.18,34.18,0,0,1,9.71-11.72,39.83,39.83,0,0,1,13.65-6.65,59.91,59.91,0,0,1,15.93-2.1h8.27a60.66,60.66,0,0,1,15.71,2.1,39.63,39.63,0,0,1,13.86,6.65,34.32,34.32,0,0,1,9.72,11.72,36.4,36.4,0,0,1,3.72,17V262a36.4,36.4,0,0,1-3.72,17,34.32,34.32,0,0,1-9.72,11.72,39.61,39.61,0,0,1-13.86,6.64,60.66,60.66,0,0,1-15.71,2.1ZM514,79.7q-5.8,0-5.79,13.65V256.74q0,7.35,1.24,10.5a4.51,4.51,0,0,0,4.55,3.14h.82a4.53,4.53,0,0,0,4.55-3.14q1.25-3.15,1.24-10.5V93.34q0-13.64-5.79-13.64Z" transform="translate(-25.26 -50.66)" />
                <path d="M620.2,299.42a59.88,59.88,0,0,1-15.92-2.09,40,40,0,0,1-13.65-6.65A34.32,34.32,0,0,1,580.91,279a36.4,36.4,0,0,1-3.72-17V88.1a36.4,36.4,0,0,1,3.72-17,34.32,34.32,0,0,1,9.72-11.72,39.83,39.83,0,0,1,13.65-6.65,59.89,59.89,0,0,1,15.92-2.1h8.28a60.66,60.66,0,0,1,15.71,2.1,39.63,39.63,0,0,1,13.86,6.65,34.43,34.43,0,0,1,9.72,11.72,36.4,36.4,0,0,1,3.72,17V262a36.4,36.4,0,0,1-3.72,17,34.43,34.43,0,0,1-9.72,11.72,39.61,39.61,0,0,1-13.86,6.64,60.66,60.66,0,0,1-15.71,2.1ZM623.93,79.7q-5.8,0-5.8,13.65V256.74q0,7.35,1.25,10.5a4.51,4.51,0,0,0,4.54,3.14h.83a4.54,4.54,0,0,0,4.55-3.14q1.25-3.15,1.24-10.5V93.34q0-13.64-5.79-13.64Z" transform="translate(-25.26 -50.66)" />
                <path d="M819.66,52.76V297.33H785.75V161.57h-.83L768.38,297.33H739L723.3,161.57h-.83V297.33H688.14V52.76h52.53l12.4,109.86h.83L767.14,52.76Z" transform="translate(-25.26 -50.66)" />
                <path d="M372.36,359.66h-10V324.21h10v2.5a6.54,6.54,0,0,1,6-3.1,10.6,10.6,0,0,1,8.55,4.05,15.92,15.92,0,0,1,0,19.6,10.77,10.77,0,0,1-8.75,4,6.91,6.91,0,0,1-3.38-.92,5.72,5.72,0,0,1-2.47-2.63Zm0-22.35v.2a4.42,4.42,0,0,0,1.25,2.9,3.75,3.75,0,0,0,5.52,0,4.06,4.06,0,0,0,1.18-2.93,4.16,4.16,0,0,0-1.18-2.95,3.72,3.72,0,0,0-5.52-.05A4.38,4.38,0,0,0,372.36,337.31Z" transform="translate(-25.26 -50.66)" />
                <path d="M411.26,324.21h10v26.45h-10v-3a7,7,0,0,1-2.93,2.7,8,8,0,0,1-3.57.9,10,10,0,0,1-8.3-4,15.42,15.42,0,0,1-3.15-9.85,15.58,15.58,0,0,1,3.1-9.85,10.14,10.14,0,0,1,8.5-3.95,6.78,6.78,0,0,1,6.35,4.1Zm0,13.35v-.2a4.44,4.44,0,0,0-1.25-2.9,3.68,3.68,0,0,0-2.75-1.2,3.73,3.73,0,0,0-2.78,1.23,4.09,4.09,0,0,0-1.17,2.92,4.16,4.16,0,0,0,1.17,2.95,3.73,3.73,0,0,0,5.53.05A4.38,4.38,0,0,0,411.26,337.56Z" transform="translate(-25.26 -50.66)" />
                <path d="M447.31,324.21V334a32.17,32.17,0,0,0-4.65-.55,5.06,5.06,0,0,0-3.83,1.68,5.91,5.91,0,0,0-1.57,4.22v11.35h-10V324.21h10v5.55q2.1-6,6.65-6.05A11.76,11.76,0,0,1,447.31,324.21Z" transform="translate(-25.26 -50.66)" />
                <path d="M462.71,337.41a13.14,13.14,0,0,1,4.1-9.7,13.38,13.38,0,0,1,9.8-4.1,14,14,0,0,1,13.8,13.8,13.38,13.38,0,0,1-4.1,9.8,13.24,13.24,0,0,1-9.7,4.05,13.91,13.91,0,0,1-13.9-13.85Zm9.9,0a4,4,0,0,0,4,4,3.69,3.69,0,0,0,2.77-1.17,4,4,0,0,0,1.13-2.88,3.93,3.93,0,0,0-1.13-2.82,3.7,3.7,0,0,0-2.77-1.18,3.89,3.89,0,0,0-2.83,1.18A3.84,3.84,0,0,0,472.61,337.41Z" transform="translate(-25.26 -50.66)" />
                <path d="M494.61,350.66v-35.9h10v35.9Z" transform="translate(-25.26 -50.66)" />
                <path d="M510.31,316.71a5,5,0,0,1,1.55-3.7,5.19,5.19,0,0,1,7.5,0,5.29,5.29,0,1,1-9.05,3.7Zm10.3,34h-10V324.21h10Z" transform="translate(-25.26 -50.66)" />
                <path d="M524.21,324.21h10.45l5.55,14,5.5-14h10.5l-12,26.45h-8Z" transform="translate(-25.26 -50.66)" />
                <path d="M559.51,316.71a5,5,0,0,1,1.55-3.7,5.19,5.19,0,0,1,7.5,0,5.29,5.29,0,1,1-9,3.7Zm10.3,34h-10V324.21h10Z" transform="translate(-25.26 -50.66)" />
                <path d="M574,337.76q0-6.5,3.9-10.3a13.73,13.73,0,0,1,9.9-3.85,13,13,0,0,1,9.7,4.15,14.36,14.36,0,0,1,4,10.35l-.1,2.2h-17.3a3.11,3.11,0,0,0,1.6,2,5.67,5.67,0,0,0,2.9.75,17.15,17.15,0,0,0,7.2-1.65l3.7,6.5a18.38,18.38,0,0,1-10.7,3.35q-6.85,0-10.8-4.1A13.17,13.17,0,0,1,574,337.76Zm13.8-6.2a3.86,3.86,0,0,0-2.6.95,2.92,2.92,0,0,0-1.1,2.3h7.4a3.11,3.11,0,0,0-1.18-2.3A3.82,3.82,0,0,0,587.81,331.56Z" transform="translate(-25.26 -50.66)" />
                <path d="M625.76,324.21V334a32.17,32.17,0,0,0-4.65-.55,5.06,5.06,0,0,0-3.83,1.68,5.91,5.91,0,0,0-1.57,4.22v11.35h-10V324.21h10v5.55q2.1-6,6.65-6.05A11.81,11.81,0,0,1,625.76,324.21Z" transform="translate(-25.26 -50.66)" />
                <path d="M663,324.21V334a31.92,31.92,0,0,0-4.64-.55,5.06,5.06,0,0,0-3.83,1.68,5.91,5.91,0,0,0-1.57,4.22v11.35H643V324.21h10v5.55q2.1-6,6.65-6.05A11.69,11.69,0,0,1,663,324.21Z" transform="translate(-25.26 -50.66)" />
                <path d="M665.4,337.41a13.18,13.18,0,0,1,4.1-9.7,13.4,13.4,0,0,1,9.8-4.1,14,14,0,0,1,13.8,13.8,13.85,13.85,0,0,1-27.7,0Zm9.9,0a3.92,3.92,0,0,0,1.18,2.88,3.84,3.84,0,0,0,2.82,1.17,3.71,3.71,0,0,0,2.78-1.17,4,4,0,0,0,1.12-2.88,3.92,3.92,0,0,0-1.12-2.82,3.72,3.72,0,0,0-2.78-1.18,4,4,0,0,0-4,4Z" transform="translate(-25.26 -50.66)" />
                <path d="M695.5,337.76q0-6.5,3.9-10.3a13.76,13.76,0,0,1,9.9-3.85,13,13,0,0,1,9.7,4.15,14.32,14.32,0,0,1,4,10.35l-.1,2.2H705.6a3.14,3.14,0,0,0,1.6,2,5.72,5.72,0,0,0,2.9.75,17.15,17.15,0,0,0,7.2-1.65l3.7,6.5a18.36,18.36,0,0,1-10.7,3.35q-6.84,0-10.8-4.1A13.21,13.21,0,0,1,695.5,337.76Zm13.8-6.2a3.88,3.88,0,0,0-2.6.95,3,3,0,0,0-1.1,2.3H713a3.06,3.06,0,0,0-1.17-2.3A3.83,3.83,0,0,0,709.3,331.56Z" transform="translate(-25.26 -50.66)" />
                <path d="M737.05,330.91c-1.1,0-1.65.24-1.65.8s.84,1,2.5,1.55c3.5,1,6,2.29,7.53,3.85a8,8,0,0,1,2.27,5.75,7.43,7.43,0,0,1-3,6.15,12.38,12.38,0,0,1-7.8,2.25,13.55,13.55,0,0,1-7.1-2.05,10.35,10.35,0,0,1-4.4-4.85l5.7-3.8a9,9,0,0,0,2.9,2.25,7,7,0,0,0,3,.8,1.92,1.92,0,0,0,1.1-.3.84.84,0,0,0,.45-.7c0-.66-.83-1.25-2.5-1.75-.23-.06-.66-.2-1.3-.4s-1.06-.35-1.3-.45c-.83-.33-1.68-.7-2.55-1.1a8.22,8.22,0,0,1-4.7-7.25,7,7,0,0,1,2.9-5.8,12.33,12.33,0,0,1,7.75-2.25q7.2,0,10.8,5.7l-5.55,3.8A8.39,8.39,0,0,0,737.05,330.91Z" transform="translate(-25.26 -50.66)" />
                <path d="M761.75,330.91c-1.1,0-1.65.24-1.65.8s.84,1,2.5,1.55c3.5,1,6,2.29,7.53,3.85a8,8,0,0,1,2.27,5.75,7.43,7.43,0,0,1-3,6.15,12.38,12.38,0,0,1-7.8,2.25,13.52,13.52,0,0,1-7.1-2.05,10.3,10.3,0,0,1-4.4-4.85l5.7-3.8a8.85,8.85,0,0,0,2.9,2.25,7,7,0,0,0,3,.8,1.92,1.92,0,0,0,1.1-.3.84.84,0,0,0,.45-.7c0-.66-.83-1.25-2.5-1.75-.23-.06-.67-.2-1.3-.4s-1.06-.35-1.3-.45c-.83-.33-1.68-.7-2.55-1.1a8.22,8.22,0,0,1-4.7-7.25,7,7,0,0,1,2.9-5.8,12.33,12.33,0,0,1,7.75-2.25q7.2,0,10.8,5.7l-5.55,3.8A8.39,8.39,0,0,0,761.75,330.91Z" transform="translate(-25.26 -50.66)" />
                <path d="M774.8,337.76q0-6.5,3.9-10.3a13.76,13.76,0,0,1,9.9-3.85,13,13,0,0,1,9.7,4.15,14.32,14.32,0,0,1,4,10.35l-.1,2.2H784.9a3.11,3.11,0,0,0,1.6,2,5.7,5.7,0,0,0,2.9.75,17.15,17.15,0,0,0,7.2-1.65l3.7,6.5a18.36,18.36,0,0,1-10.7,3.35q-6.86,0-10.8-4.1A13.17,13.17,0,0,1,774.8,337.76Zm13.8-6.2a3.86,3.86,0,0,0-2.6.95,3,3,0,0,0-1.1,2.3h7.4a3.06,3.06,0,0,0-1.17-2.3A3.85,3.85,0,0,0,788.6,331.56Z" transform="translate(-25.26 -50.66)" />
                <path d="M806.5,350.66v-35.9h10v35.9Z" transform="translate(-25.26 -50.66)" />
            </svg></span></h2>
    <p class="description">Liveroom, c'est des discussions, des échanges et des jeux tous les dimanches à 21 heures en direct sur <a href="https://www.twitch.tv/OlivierRoessel" target="_blank">Twitch</a>. Chaque semaine, découvre de nouveaux·elles invité·e·s et un nouveau sujet 🌈</p>
    <div class="row row-liveroom" #rowLiveroom>
        <div class="col">
            <div class="card">
                <h3>Liveroom - Réseaux sociaux</h3>
                <a href="https://www.twitch.tv/videos/1023846641" class="btn rounded white w-100 icon-line" target="_blank" rel="noopener noreferrer" draggable="false"><i class="icon-eye"></i>Voir la session</a>
                <img class="cover" src="/assets/img/liveroom/liveroom-5.webp" srcset="/assets/img/liveroom/liveroom-5@2x.webp" alt="Image de couverture de la session Liveroom" width="250" height="390" draggable="false">
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h3>Liveroom - Nos passions</h3>
                <a href="https://www.twitch.tv/videos/1015845571" class="btn rounded white w-100 icon-line" target="_blank" rel="noopener noreferrer" draggable="false"><i class="icon-eye"></i>Voir la session</a>
                <img class="cover" src="/assets/img/liveroom/liveroom-4.webp" srcset="/assets/img/liveroom/liveroom-4@2x.webp" alt="Image de couverture de la session Liveroom" width="250" height="390" draggable="false">
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h3>Liveroom - Jeux-vidéo</h3>
                <a href="https://www.twitch.tv/videos/999514940" class="btn rounded white w-100 icon-line" target="_blank" rel="noopener noreferrer" draggable="false"><i class="icon-eye"></i>Voir la session</a>
                <img class="cover" src="/assets/img/liveroom/liveroom-3.webp" srcset="/assets/img/liveroom/liveroom-3@2x.webp" alt="Image de couverture de la session Liveroom" width="250" height="390" draggable="false">
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h3>Liveroom - S'occuper en confinement</h3>
                <a href="https://www.instagram.com/tv/CNgBC1lqL4W/" class="btn rounded white w-100 icon-line" target="_blank" rel="noopener noreferrer" draggable="false"><i class="icon-eye"></i>Voir la session</a>
                <img class="cover" src="/assets/img/liveroom/liveroom-2.webp" srcset="/assets/img/liveroom/liveroom-2@2x.webp" alt="Image de couverture de la session Liveroom" width="250" height="390" draggable="false">
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h3>Liveroom - Végétarisme</h3>
                <a href="https://www.instagram.com/tv/CNN-tj0qmEb/" class="btn rounded white w-100 icon-line" target="_blank" rel="noopener noreferrer" draggable="false"><i class="icon-eye"></i>Voir la session</a>
                <img class="cover" src="/assets/img/liveroom/liveroom-1.webp" srcset="/assets/img/liveroom/liveroom-1@2x.webp" alt="Image de couverture de la session Liveroom" width="250" height="390" draggable="false">
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h3>Liveroom - Films et séries (2/2)</h3>
                <a href="https://www.instagram.com/tv/CM95-gOrBwW/" class="btn rounded white w-100 icon-line" target="_blank" rel="noopener noreferrer" draggable="false"><i class="icon-eye"></i>Voir la session</a>
                <img class="cover" src="/assets/img/liveroom/liveroom-0-2.webp" srcset="/assets/img/liveroom/liveroom-0-2@2x.webp" alt="Image de couverture de la session Liveroom" width="250" height="390" draggable="false">
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h3>Liveroom - Films et séries (1/2)</h3>
                <a href="https://www.instagram.com/tv/CM94qAlLTN9/" class="btn rounded white w-100 icon-line" target="_blank" rel="noopener noreferrer" draggable="false"><i class="icon-eye"></i>Voir la session</a>
                <img class="cover" src="/assets/img/liveroom/liveroom-0-1.webp" srcset="/assets/img/liveroom/liveroom-0-1@2x.webp" alt="Image de couverture de la session Liveroom" width="250" height="390" draggable="false">
            </div>
        </div>
        <img class="slider-arrow" src="/assets/img/slider-arrow.svg" alt="Flèche de navigation" width="60" height="60" draggable="false">
    </div>
    <h2>En savoir plus</h2>
    <p class="description">Si tu veux en savoir plus, tu peux accéder à mes projets, me contacter ou voir mon CV 🌟</p>
    <ul class="row row-buttons">
        <li class="col">
            <a class="btn" routerLink="projects"><i class="icon-star"></i>Mes projets</a>
        </li>
        <li class="col">
            <a class="btn" routerLink="contact"><i class="icon-message-square"></i>Contacte-moi</a>
        </li>
        <li class="col">
            <a class="btn" routerLink="cv"><i class="icon-file"></i>Voir mon CV</a>
        </li>
    </ul>
</div>
<app-footer></app-footer>