<div class="container">
    <h2>Voici mes projets</h2>
    <p class="card icon-line"><i class="icon-alert-triangle"></i>Cette partie du site est encore en cours de construction. Ne t'étonnes donc pas si tout ne fonctionne pas comme prévu 😬</p>
    <div class="row row-projects" #rowProjects>
        <div class="col">
            <div class="card">
                <h3>Mohea</h3>
                <p class="mb-0">Dans un monde où chaque personne a des abilités différentes, il est important de penser l'interface des sites web de la façon la plus accessible et inclusive possible. Ce n'est pas toujours facile à intégrer, c'est pourquoi Mohea est là pour vous aider. Vous pouvez générer des tableaux, formulaires et menus accessibles.</p>
                <!--<a class="btn rounded white w-100 icon-line" rel="noopener noreferrer" draggable="false"><i class="icon-eye"></i>Voir le projet</a>-->
                <img class="cover" src="/assets/img/projects/mohea-bg.webp" alt="Image de couverture de la session Liveroom" width="250" height="390" draggable="false">
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h3>Query Search</h3>
                <p class="mb-0">Découvre Query Search, un projet qui avait pour but de simplifier la recherche sur des sites web (tels qu'Amazon, Netflix, Leboncoin, Qwant, et pleins d'autres). J'ai arrêté le développement depuis que la fonctionnalité a été implantée nativement dans les navigateurs web modernes.</p>
                <!--<a class="btn rounded white w-100 icon-line" rel="noopener noreferrer" draggable="false"><i class="icon-eye"></i>Voir le projet</a>-->
                <img class="cover" src="/assets/img/projects/query-bg.webp" alt="Image de couverture de la session Liveroom" width="250" height="390" draggable="false">
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h3>Stockbooking</h3>
                <p class="mb-0">Stockbooking est une marketplace européenne dédiée aux solutions de stockage flexibles, collaboratives et mutualisées avec plus de 700 000 m² d’espaces déployés à travers la France. Elle centralise l’ensemble des activités logistiques et permet de piloter les flux via une seule et même interface.</p>
                <!--<a class="btn rounded white w-100 icon-line" rel="noopener noreferrer" draggable="false"><i class="icon-eye"></i>Voir le projet</a>-->
                <img class="cover" src="/assets/img/projects/stockbooking-bg.webp" alt="Image de couverture de la session Liveroom" width="250" height="390" draggable="false">
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h3>Sprochrenner</h3>
                <p class="mb-0">La Sprochrenner est une course de relais lancée en 2019 et qui a lieu tous les deux ans. Festive, populaire et engagée, elle traverse l'Alsace, de jour comme de nuit pour symboliser la tranmission d'une langue alsacienne vivante, créative et dynamique, à travers les générations et les territoires.</p>
                <!--<a class="btn rounded white w-100 icon-line" rel="noopener noreferrer" draggable="false"><i class="icon-eye"></i>Voir le projet</a>-->
                <img class="cover" src="/assets/img/projects/sprochrenner-bg.webp" alt="Image de couverture de la session Liveroom" width="250" height="390" draggable="false">
            </div>
            <div class="card">
                <h3>Study Network</h3>
                <p class="mb-0">Study Network est le premier réseau social créé par des étudiant(e)s et pour des étudiant(e)s. Discussions privées et de groupe pour s'entraider, échanges de supports de cours pour les absent(e)s, et organisation de sorties extra-scolaires pour apprendre à mieux se connaître.</p>
                <!--<a class="btn rounded white w-100 icon-line" rel="noopener noreferrer" draggable="false"><i class="icon-eye"></i>Voir le projet</a>-->
                <img class="cover" src="/assets/img/projects/studynetwork-bg.webp" alt="Image de couverture de la session Liveroom" width="250" height="390" draggable="false">
            </div>
        </div>
        <!-- <div class="col">
            <div class="card">
                <h3>Légumiste</h3>
                <p>Projet non-annoncé</p>
                <a class="btn rounded white w-100 icon-line" rel="noopener noreferrer" draggable="false"><i class="icon-eye"></i>Voir le projet</a>
                <img class="cover" src="/assets/img/projects/legumiste-bg.webp" alt="Image de couverture de la session Liveroom" width="250" height="390" draggable="false">
            </div>
        </div> -->
    </div>
</div>
<app-footer></app-footer>