<div class="container">
    <h2>Aperçu de mes projets et réalisations</h2>
    <div class="row row-projects" #rowProjects>
        <div class="col">
            <div class="card">
                <h3>Légumiste</h3>
                <div class="row">
                    <p>Pour faciliter sa transition vers un régime alimentaire plus écologique et en accord avec les enjeux économiques et sociaux actuels, j'ai créé Légumiste. Rejoins notre communauté de légumistes, pour manger végétal et gourmand 🌱</p>
                    <div class="btn-group">
                        <a class="btn rounded white w-100 icon-line" href="https://legumiste.blend.link/guide/" target="_blank" rel="noopener noreferrer"><i class="icon-map"></i>Le Guide du Légumiste</a>
                        <a class="btn rounded white w-100 icon-line" href="https://www.instagram.com/legumiste/" target="_blank" rel="noopener noreferrer"><i class="icon-instagram"></i>Voir la page Instagram</a>
                    </div>
                    <img class="cover" src="/assets/img/projects/legumiste-bg.webp" alt="Image d'illustration du projet Légumiste" width="250" height="390" draggable="false">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h3>Mohea</h3>
                <div class="row">
                    <p>Dans un monde où chaque personne a des abilités différentes, il est important de penser l'interface des sites web de la façon la plus accessible et inclusive possible. Ce n'est pas toujours facile à intégrer, c'est pourquoi Mohea est là pour vous aider. Vous pouvez générer des tableaux, formulaires et menus accessibles ♿</p>
                    <div class="btn-group">
                        <a class="btn rounded white w-100 icon-line" href="https://www.dailymotion.com/video/k6xnmb6IdFhXzIvU80p" target="_blank" rel="noopener noreferrer"><i class="icon-video"></i>Vidéo de présentation</a>
                        <a class="btn rounded white w-100 icon-line" href="/assets/docs/mohea.zip" rel="noopener noreferrer"><i class="icon-file"></i>Voir les maquettes</a>
                    </div>
                    <img class="cover" src="/assets/img/projects/mohea-bg.webp" alt="Image d'illustration du projet Mohea" width="250" height="390" draggable="false">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h3>Stockbooking</h3>
                <div class="row">
                    <p>Stockbooking est une marketplace européenne dédiée aux solutions de stockage flexibles, collaboratives et mutualisées. Elle centralise l’ensemble des activités logistiques et permet de piloter les flux via une seule et même interface 🧑‍💻</p>
                    <a class="btn rounded white w-100 icon-line" href="/assets/docs/stockbooking.zip" rel="noopener noreferrer"><i class="icon-file"></i>Voir les maquettes</a>
                    <img class="cover" src="/assets/img/projects/stockbooking-bg.webp" alt="Image d'illustration du projet Stockbooking" width="250" height="390" draggable="false">
                </div>
            </div>
            <div class="card">
                <h3>Amélie Gary</h3>
                <div class="row">
                    <p>Amélie Gary est une diététicienne nutritionniste diplômée d’Etat proposant des consultations à domicile, en cabinet ou directement au centre Fitness Park Schweighouse 🥑</p>
                    <a class="btn rounded white w-100 icon-line" href="/assets/docs/amelie.zip" rel="noopener noreferrer"><i class="icon-file"></i>Voir le flyer</a>
                    <img class="cover" src="/assets/img/projects/amelie-bg.webp" alt="Image d'illustration du projet Amélie" width="250" height="390" draggable="false">
                </div>
            </div>
        </div>
    </div>
    <h2>Sélection de sites web réalisés pour Adipso</h2>
    <ul class="row row-buttons">
        <li class="col">
            <a class="btn" href="https://www.adipso.com/" target="_blank" rel="noopener noreferrer"><i class="icon-globe"></i>Adipso</a>
        </li>
        <li class="col">
            <a class="btn" href="https://www.wema.fr/" target="_blank" rel="noopener noreferrer"><i class="icon-globe"></i>WeMa</a>
        </li>
        <li class="col">
            <a class="btn" href="https://www.fhortho.com/" target="_blank" rel="noopener noreferrer"><i class="icon-globe"></i>FH Ortho</a>
        </li>
        <li class="col">
            <a class="btn" href="https://oref.grandest.fr/" target="_blank" rel="noopener noreferrer"><i class="icon-globe"></i>OREF (Grand Est)</a>
        </li>
        <li class="col">
            <a class="btn" href="https://biodiversite.grandest.fr/" target="_blank" rel="noopener noreferrer"><i class="icon-globe"></i>Biodiversité (Grand Est)</a>
        </li>
        <li class="col">
            <a class="btn" href="https://lojtoit.grandest.fr/" target="_blank" rel="noopener noreferrer"><i class="icon-globe"></i>Loj'Toît Jeun'Est (Grand Est)</a>
        </li>
        <li class="col">
            <a class="btn" href="https://barr.fr/" target="_blank" rel="noopener noreferrer"><i class="icon-globe"></i>Barr</a>
        </li>
        <li class="col">
            <a class="btn" href="https://epsilon-france.fr/" target="_blank" rel="noopener noreferrer"><i class="icon-globe"></i>Epsilon France</a>
        </li>
        <li class="col">
            <a class="btn" href="https://smictom-nord67.com/" target="_blank" rel="noopener noreferrer"><i class="icon-globe"></i>Smictom Nord-Alsace</a>
        </li>
        <li class="col">
            <a class="btn" href="https://keymaging.com/" target="_blank" rel="noopener noreferrer"><i class="icon-globe"></i>Keymaging (en binôme)</a>
        </li>
        <li class="col">
            <a class="btn" href="https://www.stephaneberger.com/" target="_blank" rel="noopener noreferrer"><i class="icon-globe"></i>Stéphane Berger (en binôme)</a>
        </li>
        <li class="col">
            <a class="btn" href="https://www.maisonsoxygene.com/" target="_blank" rel="noopener noreferrer"><i class="icon-globe"></i>Maisons Oxygène (en binôme)</a>
        </li>
    </ul>
</div>
<app-footer></app-footer>